nav{
    background: rgb(131, 161, 235);
    opacity: 0.7;
    position: fixed;
    z-index: 2;
}

nav:hover{
    background: linear-gradient(90deg, red, yellow);
    /* color: blue ; */
}

/* ul{
    list-style: none;
    padding-left: 20px;
    padding-right: 1290px;
} */


body {
    background-color: lightblue;
  }

#opening{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgba(228, 147, 17, 0.911);
    font-family:monospace;
    /* margin-top: -20px; */
}

#carousel {
    margin: 20px;
}

/* #search{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%; */
    /* 300px also works good */
    /* justify-content: center; BROKEN*/

/* form{
    padding-top: 20px;
    padding-bottom: 5px;
}
/* search bar and buttons spacing from item above */

/* #form-search{
    width: 200px;
    height: 20px;
}
search bar size */

a{
    align-items: right;
}

h1 {
    color: cornflowerblue;
    text-align: center;
    font-family:monospace;
    text-decoration: cornsilk;
    font-weight: 800;
}

h2 {
    color: coral;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

h3 {
    color: cornflowerblue;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
h4 {
    color: cornflowerblue;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
#aboutp {
    /* background-color: rgb(244, 245, 182); */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

li {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#characters {
    /* background-color: rgb(244, 245, 182); */
    /* padding-right: 250px; */
    display: flex;

    /* align-items: right;
    text-align: right; */
    justify-content: right;
}

#charimg {

    padding-left: 50px;
    padding-bottom: 50px;
    width: 400px;
    display: flex;
    align-items: left;
    text-align: left;
    justify-content: left;
    margin: 0px 20px;
}

p {
    padding-left:50px;
    padding-right:50px;
}
footer {

    padding-top: 10px;
    font-size: smaller;
    text-align: center;
    color: cadetblue;
    background-color: cornsilk;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

/* .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  /* .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  } */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  } */
